<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zl.team.mapper.BookCategoryMapper">

    <select id="selectById" resultType="org.zl.team.entity.BookCategory">
        SELECT category_id, name, parent_id FROM book_category WHERE category_id = #{categoryId}
    </select>

    <select id="selectAll" resultType="org.zl.team.entity.BookCategory">
        SELECT category_id, name, parent_id FROM book_category
    </select>

    <select id="selectByParentId" resultType="org.zl.team.entity.BookCategory">
        SELECT category_id, name, parent_id FROM book_category
        <where>
            <if test="parentId == null">parent_id IS NULL</if>
            <if test="parentId != null">parent_id = #{parentId}</if>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO book_category (category_id, name, parent_id)
        VALUES (#{categoryId}, #{name}, #{parentId})
    </insert>

    <update id="update">
        UPDATE book_category SET name = #{name}, parent_id = #{parentId}
        WHERE category_id = #{categoryId}
    </update>

    <delete id="delete">
        DELETE FROM book_category WHERE category_id = #{categoryId}
    </delete>

</mapper>
