<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zl.team.mapper.EmployeeMapper">

    <select id="selectById" resultType="org.zl.team.entity.Employee">
        SELECT account, name, gender, address, phone, mobile, email, motto, created_at
        FROM employee WHERE account = #{account}
    </select>

    <select id="selectAll" resultType="org.zl.team.entity.Employee">
        SELECT account, name, gender, address, phone, mobile, email, motto, created_at
        FROM employee
    </select>

    <insert id="insert">
        INSERT INTO employee (account, name, gender, address, phone, mobile, email, motto, created_at)
        VALUES (#{account}, #{name}, #{gender}, #{address}, #{phone}, #{mobile}, #{email}, #{motto}, #{createdAt})
    </insert>

    <update id="update">
        UPDATE employee SET name = #{name}, gender = #{gender}, address = #{address},
        phone = #{phone}, mobile = #{mobile}, email = #{email}, motto = #{motto}
        WHERE account = #{account}
    </update>

    <delete id="delete">
        DELETE FROM employee WHERE account = #{account}
    </delete>

</mapper>
